* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Iosevka Aile", "Symbols Nerd Font", sans-serif;
    font-size: 15px;
}

window#waybar {
    margin-top: 10px;
    background-color: transparent;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

widget > * {
    border-radius: 100px;
}

#workspaces {
    background-color: @base;
    border-radius: 100px;
    margin: 7px 3px 0px 7px;
}

#workspaces button {
    background-color: transparent;
    border-radius: 100px;
    color: @text;
}

#workspaces button.active {
    color: @base;
    background-color: @primary;
    font-weight: bold;
    padding: 0 25px;
}

#workspaces button:not(.active):hover {
    background-color: @surface0;
    padding: 0 25px;
}


.modules-right {
    color: @text;
    background-color: @base;
    border-radius: 100px;
}

.modules-right * {
    padding: 0 20px;
}

#window,
#workspaces {
    margin: 0 4px;
}

window#waybar:not(.empty) #window {
    background-color: @base;
    color: @text;
    padding: 0 20px;
    border-radius: 100px;
}

widget > * {
    transition: all 1s ease-in-out;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @text;
}

#battery {
    color: @success;
}

#battery.charging, #battery.plugged {
    color: @base;
    background-color: @success;
}

@keyframes battery_blink {
    from {
        background-color: @error;
        color: @base;
    }
    to {
        background-color: @base;
        color: @error;
    }
}

#battery.critical:not(.charging) {
    animation-name: battery_blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#backlight {
    color: @text;
}

#network {
    color: @rosewater;
}

#network.disconnected {
    color: @error;
}

#pulseaudio,
#wireplumber {
    color: @blue;
}

#pulseaudio.muted,
#wireplumber.muted {
    color: @warning;
}

#custom-media {
    color: @pink;
}

#custom-media.custom-spotify {
    color: @green;
}

/*#tray {
    color: @blue;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}
*/
